.text-font{
    font-family: 'Montserrat', sans-serif;
}

body{
    height:100%;
	margin:0;
    bottom:0;
}

.sidenav{
    background:rgb(255,255,255);
    /* height:100%; */
    box-shadow: 0 0 10px 0 rgba(0,0,0,.18);
}

.ranklist{
    display: flex;
    flex-direction: column;
    padding:5px;
}

.page-header{
    margin:0;
    display:sticky;
}

.parent{
    margin:0;
    display: flex;
}

.rank-wrapper{
    display: inline;
    
}

.rank-header{
    padding-top:15px;
    padding-left:15px;
    
}

.results-page-wrapper{
    font-family:sans-serif;
    margin:5%;
    width:100%;

    
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.18);
}

.page-footer{
    position: relative;
    margin-top:100px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.18);
    width:100%;
}

.parent{
    margin:0%; 
    width: 100%;  
    height: 100%;
}

body{
    padding-bottom:0px;
    background: #faf6f6;
}

.result-list{
    margin-right:0%;
}

.welcome{
    width:30%;
    margin-left:5%;
    font-size: x-large;
    font-weight:bold;
}
.result-welcome{
    width:400px;
}

.parent-welcome{
    display:inline;
    float: left;
}


